.weekly {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    
    ul {
        padding: 0 1.5rem 0 1.5rem;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 6fr;
        gap: 1.5rem;
        list-style: none;

        li {
            background-color: rgb(58, 58, 58);
            border-radius: 35px;

            &:first-of-type {
                grid-column: 1 / 7;
                border-radius: 0;
            }
        }
    }
}