.weekly {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    
    ul {
        padding: 0 1.5rem 0 1.5rem;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 2.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 6fr;
        gap: 1.5rem;
        list-style: none;

        li {
            background-color: rgb(58, 58, 58);
            border-radius: 35px;

            &:first-of-type {
                grid-column: 1 / 8;
                border-radius: 0;
            }
        }
    }
}









.week_title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        width: 10%;
        height: 50%;
        background-color: darkolivegreen;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & > p {
        font-size: 2rem;
        font-weight: 700;
    }
}











.today {
    display: grid;
    grid-template-rows: 1fr 4fr;

    & > div {
        &:first-of-type {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 calc(100% - (100% - 35px));
        }

        &:last-of-type {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 calc(100% - (100% - 35px));

            div {
                width: 45%;
                height: auto;

                img {
                    width: 100%;
                }
            }
        }
    }

    p {
        font-size: 2rem;
        font-weight: 700;
    }

}





















.weekday {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    p {
        font-size: 2rem;
        font-weight: 700;
    }

    img {
        width: 75%;
        height: auto;
    }

    div {
        display: flex;
        justify-content: center;

        &:nth-of-type(1) {
            padding: 10px 15px;
            border-bottom: 2px solid rgb(107, 107, 107);
        }
    }
}